# dependencies
/node_modules

# testing
/coverage
local.log
/log
/results
/cypress/videos
/cypress/screenshots

# production
/build

# dev
/.ssl

# misc
/config
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.less.d.ts
*.d.ts
/webpack/remote.babel.js

env-config.js
/public/env-config.js
/public/*.js
/public/*.js.map

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/test/testdoc.pdf

/.vs
debug.log


