.buttonResting {
    border-radius: 100%;
    border-style: solid;
    border-color: var(--colorFgIntense);
    border-width: 3px;
    width: 10rem;
    height: 10rem;
    background-color: white;

    &:active {
        background-color: var(--colorFgFadedMore);
    }
}

.buttonScanning {
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--equiGreen1);
    border-radius: 100%;
    width: 55px;
    height: 55px;

    &:disabled {
        background-color: var(--disabledColor);
    }

    

    .icon {
        width: 60%;
        height: 60%;
    }
}

