* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html, body {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Equinor', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}
